:root {
    --tw-text-opacity: 1 !important;
    --tw-bg-opacity: 1 !important;
    color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

@import "tailwindcss";

@theme {

    --color-primary: #1E40AF;
    --color-secondary: #9333EA;

    /* Custom Screen Breakpoints */
    /* --breakpoint-sx: 425px; */
    /* --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px; */

    /* Custom Spacing */
    --spacing-72: 18rem;
    --spacing-84: 21rem;
    --spacing-96: 24rem;

    /* Custom Fonts */
    --font-sans: "Inter", sans-serif;
    --font-serif: "Merriweather", serif;

    /*custom border*/
    --border-radius-large: 16px;
    --border-color: #E0E0E0;

    /* custom gradient  this type of custom value we use in style file : bg-[var(--bg-gradient)]*/
    --bg-gradient: linear-gradient(to right, #6EE7B7, #3B82F6);
}